<h1>MEAL PLANNER</h1>

<!-- Modified from Railscast #213 -->
<div id="recipes">
  <%= calendar @date do |date| %>
    <%= link_to date.day, show_day_path(date.day) %>
    <% if @recipes_by_date[date] %>
      <ul>
        <% @recipes_by_date[date].each do |recipe| %>
          <li><%= recipe.name %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
